<!DOCTYPE html>
<html lang="ja">
<html>
  <head>
    <meta charset="UTF-8"/>
  </head>
  <body>
    
    <script src = "top.js">
      //ファイルを読み込むasset/javascript/packsにファイルを作成
    </script>
  </body>
</html>